.genresortContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moviesContainer {
  display: flex;  
}

.moviesContainer .movieTileContainer:not(:first-child){
  padding-left:  50px;
}
