.counterContainer {
  display: grid;
  border: 2px solid white;
  width: 500px;
  padding: 20px;
}

.counterTitle {
  color: white;
}

.counterBody {
  display: flex;
  justify-content: space-evenly;
  height: 45px;
}

.counterLabel {
  font-size: 36px;
  color: white;
  align-self: center;
  margin: 0px;
}
