.confirmDeleteButton {
  padding: 0px 50px;
  height: 44px;
  left: 905px;
  top: 242px;
  background: #f65261;
  border-radius: 4px;
  margin: 0px 10px;
  color: white;
  font-size: 20px;
  border: 0px;
  margin: 0px;
  font-size: 15px;
  float: right;
}
