.movieTileContainer {
  position: absolute;
  width: 323.41px;
  height: 486px;
  left: 117px;
  top: 599px;
  background: url(Image.png);
}

.movieTileYearLabel{

}

.movieTileTitle{

}

.movieTileGenresLabel{

}

.movieTileInfoContainer{
    
}